a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer{
    background-color: #f0edf1;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-year {
    font-size: 40px;
}

.git-logo-img,
.course-logo-img {
    width: 96px;
    height: 96px;
}